    # Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / build outputs
dist/
build/
.vite/
www/                  # Dossier généré par Ionic/Capacitor
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Capacitor
ios/
android/
capacitor.config.ts
capacitor.config.json

# Logs
logs/
*.log

# Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.temp
*.swp

api/uploads/*
client/.env.*
client/.env.development
